body
{
	background: url("../images/banana.gif");
  background-color:#000000;
}
.<style>
    *
    {
      margin: 0px;
      padding: 0px;
    }
    
    body
    {
      font-family: verdana;
      padding: 50px;
    }
    
    
    ul#navmenu, ul.sub1, ul.sub2, ul.sub2a
    {
      list-style-type: none;
      font-size: 16pt;
    }
    
    ul#navmenu li 
    {
    background-color: #FFF; 
    text-align:center;
    width:220px;
    position:relative;
    background-color: #FFF;
    border: 1px solid #CCC;
      border-radius: 5px;
    float:left; 
    margin-right: 7px;  /* space between buttons */
    }
  
    
    ul#navmenu .sub2a
    {
      margin-left: 15px;
    }
    
    ul#navmenu li:hover
    {
      background-color:#CFC
    }
    
    ul#navmenu ul.sub1
    {
      display:none;
      position:absolute
    }
    
    ul#navmenu ul.sub2
    {
      display:none;
      position:absolute
    }
    
    ul#navmenu ul.sub2a
    {
      display:none;
      position:absolute
    }
    
    ul#navmenu li:hover .sub1
    {
      display:block;
    }
    
    ul#navmenu li:hover .sub2
    {
      display:block;
    }
    
    ul#navmenu .sub2 li:hover .sub2a /* makes the dropdown menu in the drop down menu work */
    {
      display:block;
    }
    
    .darrow
    {
      font-size: 14pt;
      position:absolute;
      
    }

  </style>
  