<div class="main container">
            <div class="col-md-6 col-md-offset-3 col-sm-12">
                    <form  method="POST">
                      <p class="color-text">{{error_login}}</p>
                        <div class="form-group">
                          <label for="email" class="color-text">Email address:</label>
                          <input type="email" class="form-control" name="email_login" id="email_login">
                        </div>
                        <div class="form-group">
                          <label for="pwd" class="color-text">Password:</label>
                          <input type="password" class="form-control" name="pwd_login" id="pwd_login">
                        </div>
                        <button type="submit" class="btn btn-info">Submit</button>
                    </form>
            </div>
        </div>