body {

}

//NAVIGATION BAR
.navbar{
  margin-bottom: 0;
}
.navbar-default{
  background-color: #0b0b0b;
  padding:30px;
  border:none;

}
.navbar-default ul{
  font-size:15px;
  text-transform: uppercase;
  font-weight: 700;
  list-style: outside none none;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color:orangered;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
  color:darksalmon;
}

.navbar-default .navbar-brand{
  color:plum;
}
////////////////////


.carousel{
  padding:10px;
}

 .nestest{
   height: 300px! important;
   width: 100%! important;
 }
.platforms h3{
  background-color: orangered;
  color:white;
  padding: 5px;
}

.platforms ul{
  list-style: none;

}
.platforms li a{
  font-size:18px;
  text-decoration: none;
  color: black;
}
.platforms li{
  padding:10px;
}

.platforms li span{
  font-size:25px;
  margin-right:50px;
}
.reviews{
  background-color: #0b0b0b;

}

.single-review{

}
.single-review h4,h2{
  color:whitesmoke;
}
.single-review p{
  color:lightsalmon;
}
.color{
  background-color: #0a6aa1;
}



@media (min-width: 768px){
  .navbar {
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
  }
}
/////////GAMES CONTAINER///////

.gamesContainer{
  background-color: rgba(46, 46, 46, 0.96);
}
.gamesContainer h1,h2,h3, p{
  color:white;
}
.gamesContainer{
  padding:50px;
}
.gamePicture{

}

.morecontent span {
  display: none;
}
.morelink {
  display: block;
}
.singleGameContainer{
  height:300px;
}

.pusturva{
  background-color: lightsalmon;
}

///////////PLATFORMS//////////////////////



.platform p{
  padding-left:25px;
}
.datePublished{
  padding-top:25px;
}
.pageNumber{
  color: orangered;
  font-weight: 400;
}
//.dropdownPlatform{
//  background-color: rgba(192, 85, 26, 0.96);
//  padding:3px;
//}
//.dropdownPlatform button{
//  background-color: rgba(13, 3, 44, 0.96);
//  border-color: transparent;
//}
//.dropdownPlatform button:hover{
//  background-color: black;
//  border-color: transparent;
//}
//.dropdownPlatform ul{
//  background-color: lightcyan;
//}
.platformBg{
  background-color: rgba(46, 46, 46, 0.96);
}
.platformBg h4, span{
  color:white;
}
//.dropdownPlatform ul li  {
//  //padding-top:10px;
//  height:40px;
//  color:whitesmoke;
//}
//
//.dropdownPlatform ul li a{
//  padding:10px;
//}
//
//.dropdownPlatform ul li a:hover{
//  background-color: rgba(192, 85, 26, 0.96);
//
//  color:white;
//}
//
//.btn-primary.active.focus,
//.btn-primary.active:focus,
//.btn-primary.active:hover,
//.btn-primary:active.focus,
//.btn-primary:active:focus,
//.btn-primary:active:hover,
//.open>.dropdown-toggle.btn-primary.focus,
//.open>.dropdown-toggle.btn-primary:focus,
//.open>.dropdown-toggle.btn-primary:hover
//{
//  background-color: #0da357;
//}

.dropdown-menu{
  padding:0;
}




///////////SINGLE GAME//////////////
.singleGamePanel{
  background-color: #3c3c3c;
}


////////////////REVIEWS///////////////////

.review   a{
  text-decoration: none;
  color:white;
}

//////////////VIDEOS/////////////////////
.videosDetailPanel, .videosDetailPanel h4{
  color:#1298ff;
  background-color: black;

}
.homeVideoTitle{
  color:whitesmoke;
}

.carousel{
  padding:0 !important;
}